var config = {
    development: {
        USERNAME: '',
        URL: 'https://trackobot.com/profile/history.json?username=',
        TOKEN: '&token=',
        IRC_OPTIONS: {
            host: 'irc.freenode.net',
            port: 6667, // default value: 6667
            ssl: false, // set to true if you want to use ssl
            ssl_allow_invalid: false, // set to true if the server has a custom ssl certificate
            prefix: '!', // used to parse commands and emit on('command') events, default: !
            channels: ['#zictest'], // autojoin channels, default: []
            nick: 'zicbot', // default value: 'coffea' with random number
            throttling: 250 // default value: 250ms, 1 message every 250ms, disable by setting to false
        },
        GOOGLE_OPTIONS: {
            wild: 5,
            resultsPerPage: 10
        },
        ERROR_MSG: "zicada: I broke. This is the error: ",
        LUCK_FACTOR: 0.05,
        DICK_REPLY: "Please stop being a cunt m8"
    },
    production: {
        USERNAME: '',
        URL: 'https://trackobot.com/profile/history.json?username=',
        TOKEN: '&token=',
        IRC_OPTIONS: {
            host: 'irc.freenode.net',
            port: 6667, // default value: 6667
            ssl: false, // set to true if you want to use ssl
            ssl_allow_invalid: false, // set to true if the server has a custom ssl certificate
            prefix: '!', // used to parse commands and emit on('command') events, default: !
            channels: ['#planet.e'], // autojoin channels, default: []
            nick: 'zicbot', // default value: 'coffea' with random number
            throttling: 250 // default value: 250ms, 1 message every 250ms, disable by setting to false
        },
        GOOGLE_OPTIONS: {
            wild: 5,
            resultsPerPage: 10
        },
        ERROR_MSG: "zicada: I broke. This is the error: ",
        LUCK_FACTOR: 0.02,
        DICK_REPLY: "Please stop being a cunt m8"
    }
};
module.exports = config;